.csidelist,#leftmenu  {
    overflow: hidden;
    padding: 0;
}
.csidelist  {
    list-style: none;
    margin: 20px 0 0 0px;
    width: 95%;
    height: 150px;
   /* border: solid;*/
/*    border-width: 1px;*/
   /* background-color: #ccffcc; */
}
.leftmenu {
    list-style: none;
    margin: 10px 0 0 0px;
    width: 95%;
    height: 25px;
    border: solid;
    border-width: 1px;
    background-image: url(../img/login2.png);
    
  

}
/*
.leftmenu:hover {
border: solid;
border-width: 1px;
color: #00ff33;
}*/

.leftmenubox {
/*  background-color: #cccccc;*/ 
/* border: solid;*/
font-size: 1em;
margin-left: 5px;

}

#loginframe {
padding: 10px;
border-width: 1px;
width: 250px;
background-color: #ccffcc;
text-align: center;

}

.textelm {width: 20%; float: left;}
.formelm {width: 80%; float: left}

.urbangreymenu{
width: 160px; /*width of menu*/
}

.urbangreymenu .headerbar{
font: bold 13px Verdana;
color: white;
background: #606060 url(../img/arrowstop.gif) no-repeat 8px 6px; /*last 2 values are the x and y coordinates of bullet image*/
margin-bottom: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 7px 0 7px 31px; /*31px is left indentation of header text*/
}

.urbangreymenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.urbangreymenu ul li a{
font: normal 12px Arial;
color: black;
background: #E9E9E9;
display: block;
padding: 5px 0;
line-height: 17px;
padding-left: 8px; /*link text is indented 8px*/
text-decoration: none;
}

.urbangreymenu ul li a:visited{
color: black;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
color: white;
background: black;
}

