<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
        <title>CompMagic- мы делаем особую компьютерную магию ${message} </title>
        <link href="./css/layout.css" rel="stylesheet" type="text/css" />
        <link href="./css/header.css" rel="stylesheet" type="text/css" />
        <link href="./css/selfcontent.css" rel="stylesheet" type="text/css" />
        <link href="./css/roundborder.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="page-wrapper">
            <div class="page-container">
                <div class="page-header" >

                    <div id="headerwrap">
                        <div class="line">
                            <div class="item" id="slogan1wrap">
                                <div id="slogan1">
                                    <h1 class="slogan1"> Мы делаем особую компьютерную магию...</h1>
                                </div>
                            </div> <!--slogan1wrap  -->
                            <div class="item" id="slogan2wrap">

                            </div>
                        </div> <!--line  -->
                    </div> <!--headerwrap  -->
                </div> <!-- page-header -->

                <div class="page-body">
                    <div class="content">
                        <div class="line">
                            <div class="item" id="leftside"><div class="urbangreymenu">
                                   
                                </div>
                            </div> <!-- leftside -->
                            <div class="item" id="centerside">
                                <div id="cenerwrap">
                                    ${message}
                                    <ul>
                                       
                                    <li><a href="./admin/page/add">Добавить статью</a></li>
                                    <li><a href="./admin/page">Список статей</a></li>
                                    <li>Редактировать статью</li>
                                    <li><a href="./admin/menu">Управление левым меню</a></li>
                                    <li><a href="./admin/mainpage">Управление главной станицей</a></li>
                                   </ul>
                                </div>  <!--cenerwrap  -->
                            </div> <!--centerside  -->
                            <div class="item" id="rightside">

                            </div> <!--  rightside-->
                        </div> <!-- line -->

                    </div><!--content  -->
                </div> <!-- page-body -->
            </div> <!-- page-container -->
            <div class="footer-wrapper">
                <div class="footer-container">
                    <div class="footer-holder">
                        <div class="content">
                            <div class="line">

                            </div> <!--line  -->
                        </div> <!-- content -->
                    </div> <!-- footer-holder -->
                </div> <!-- footer-container -->
            </div> <!-- footer-wrapper -->
        </div> <!-- page-wrapper -->

    </body>
</html>
