<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
        <title>CompMagic- мы делаем особую компьютерную магию ${message}</title>
        <link href="./css/layout.css" rel="stylesheet" type="text/css" />
        <link href="./css/selfcontent.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="page-wrapper">
            <div class="page-container">
                <div class="page-header" >
                    <div id="headerwrap">
                        <div class="line">
                            <div class="item" id="slogan1wrap">
                                <div id="slogan1">
                                    <h1 class="slogan1"> Мы делаем особую компьютерную магию...</h1>
                                </div>
                            </div>
                            <div class="item" id="slogan2wrap">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="content"> <div class="line">
                            <div class="item" id="leftside"><ul class="leftmenubox" style="list-style: none;">
                                    <li class="leftmenu"><a class="link" href="http://compmagic.ru/page/2.html" >О нас</a></li>
                                    <li class="leftmenu"><a class="link" href="http://compmagic.ru/page/3.html" >E-shop</a></li>
                                    <li class="leftmenu"><a class="link" href="http://compmagic.ru/page/4.html" >Ведение</a></li>
                                    <li class="leftmenu"><a class="link" href="http://compmagic.ru/page/5.html" >Разработка</a></li>
                                    <li class="leftmenu"><a class="link" href="http://compmagic.ru/page/6.html" >Реклама</a></li>
                                    <li class="leftmenu"><a class="link" href="http://compmagic.ru/page/8.html" >Мобильная реклама</a></li>
                                    <li class="leftmenu"><a class="link" href="http://compmagic.ru/page/9.html" >Услуги</a></li>
                                </ul>
                            </div>
                            <div class="item" id="centerside">
                                <div id="cenerwrap">
                                    <span style="font-size:30px;"><b>О нас</b></span>
                                    <br/><br/>
                                    <span style="font-size:20px;">Интернет студия Compmagic работает на южно-российском рынке информационных технологий.
                                        <br/>Мы - Новая команда и имеем свежий взгляд на WEB дизайн и интернет коммерцию в целом.
                                        <br/>Наш профессиональный коллектив имеет очень высокий уровень подготовки, что позволяет практически целиком охватить все аспекты Интернет индустрии.
                                        <br/>Опыт наших сотрудников позволяет разрабатывать системы практически любого уровня сложности, от простых сайтов, до  сложных систем корпоративного управления.
                                        <br/>
                                    </span>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                            <div class="item" id="rightside">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrapper">
                <div class="footer-container">
                    <div class="footer-holder">
                        <div class="content">Сайт находится в процессе разработки
                            <br>Разработка CompMagic.ru</br> Контактные данные: ppavlov[a]compmagic.ru  <br>
                            Телефон +7 918 223 09 06</br>
                            <br>
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>